*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1220px;
  padding: 0 10px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 840px) {
  .container {
    width: 768px;
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 376px;
    max-width: 100%;
  }
}

.header {
  color: #7C064D;
  background-color: #FFD31D;
  padding-bottom: 30px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .5;
      -ms-flex-positive: .5;
          flex-grow: .5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  margin-right: 30px;
}

.header__logo-img .logo-img {
  width: 100px;
  -webkit-transform: scale(2) translateY(10px);
          transform: scale(2) translateY(10px);
}

.header__title {
  font-weight: 900;
  font-size: 48px;
  color: #000ADB;
}

.header__title .bold {
  color: #7C064D;
}

.header__wrapper {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__like {
  padding: 0;
  font-size: 50px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  border: none;
  background-color: transparent;
}

.header__advert {
  background-color: #7C064D;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  color: #FFD31D;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}

.header__form {
  margin-top: 30px;
}

.header__form .form__search {
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 20px;
  border-radius: 8px;
}

.header__form .form__filters {
  margin-top: 30px;
  font-size: 32px;
  color: #7C064D;
  font-weight: 900;
  margin-bottom: 30px;
}

.header__form .form__quality {
  padding: 10px 15px;
  border: 2px solid #7C064D;
  background-color: #fff;
  border-radius: 8px;
}

.header__form .form__submit {
  padding: 10px 30px;
  border: 3px solid #7C064D;
  background-color: #fff;
  color: #7C064D;
  font-weight: 900;
  border-radius: 8px;
  margin-left: 200px;
}

.header__form .home__type {
  padding: 10px 15px;
  border: 2px solid #7C064D;
  background-color: #fff;
  border-radius: 8px;
}

.header__form .room__number {
  padding: 10px 15px;
  border: 2px solid #7C064D;
  background-color: #fff;
  border-radius: 8px;
}

.header__form .label {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
}

main {
  background-color: #FEF7DC;
}

.home__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  width: 48%;
  background-color: #fff;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.home__item:first-child {
  margin-top: 20px;
}

.home__item:nth-child(2) {
  margin-top: 20px;
}

.home__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 10px;
  padding: 10px;
  position: relative;
}

.home__title {
  font-size: 24px;
  margin-bottom: 10px;
  width: 250px;
  max-width: 100%;
  font-weight: 900;
}

.home__type {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.home__tu {
  margin-top: 5px;
  font-size: 18px;
}

.home__features {
  margin-top: 15px;
}

.home__rooms {
  font-weight: 800;
}

.home__area {
  font-weight: 800;
  margin-left: 30px;
}

.home__about {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.home__like {
  position: absolute;
  right: 30px;
  top: 15px;
  color: #aaa;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.home__img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.home__price {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 700;
  display: block;
}

.home__time {
  margin-left: 30px;
}
/*# sourceMappingURL=main.css.map */