.header{
    color: #14279B;

    background-color: #F6F6F6;
    padding-bottom: 20px;
    &__logo{
        display: flex;
        flex-grow: .5;
        justify-content: space-between;
        align-items: center;
        &-img{
            margin-right: 30px;
            .logo-img{
                width: 120px;
                // transform: scale(2) translateY(10px);
                
            }
        }
    }
    &__title{
        font-weight: 900;
        font-size: 48px;
        color:#14279B;
        .bold{
            color:#5C7AEA;
        }
    }
    &__wrapper{
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__like{
        padding: 0;
        // font-size: 50px;
        cursor: pointer;
        transform: translateY(10px);
        border: none;
        background-color: transparent;
        color:#5C7AEA;
        &:hover{
            color: red;
        text-shadow: 5px 5px 15px  red;
            background-color: transparent;
        }
    }
    &__advert{
        background-color: #14279B;
        border:none;
        border-radius: 10px;
        padding: 15px 30px;
        color: #fff;;
        font-size: 24px;
        font-weight: 700;
        margin-left: 20px;
        
    }
    &__form{
        margin-top: 10px;
        .form{
            &__search{
                outline: none;
                width: 100%;
                padding:15px;
                border:none;
                font-size: 20px;
                border-radius: 8px;
            }
            &__filters{
                margin-top: 10px;
                font-size: 32px;
                color: #14279B;
                font-weight: 900;
                margin-bottom: 5px;
            }
            &__quality{
                padding: 10px 15px;
                border: 2px solid #14279B;
                background-color: #fff;
                border-radius: 8px;
                
            }
            &__submit{
                padding:10px 30px;
                border: 3px solid #14279B;
                background-color: #fff;
                color: #14279B;
                font-weight: 900;
                border-radius: 8px; 
                margin-left: 100px;  
                cursor: pointer;
            }

            
        }
        .home__type{
            padding: 10px 15px;
            border: 2px solid #14279B;
            background-color: #fff;
            border-radius: 8px;   
        }
        .room__number{
            padding: 10px 15px;
            border: 2px solid #14279B;
            background-color: #fff;
            border-radius: 8px;
        }
        .label{
            margin-left: 30px;
            font-size: 20px;
            font-weight: 700;
        }
        
    }
    
}
.links{
    display: flex;
    justify-content: flex-end;
    &__about{
        font-size: 20px;
        color: #7C064D;
        font-weight: 700;
        &:nth-child(2){
            margin-left: 40px;
        }
    }

}